@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #6583c0;
    --branco:  #5dc6b6;
    --laranja: #9c5dc6;
    --azul-degrade: linear-gradient(97.54deg, #447091 35.49%, #1e4460 165.37%);
    --fonte-principal: "Poppins";
    --azul: #142c3f;
    --fonte-secundario: "Josefin Sans";
    --preto: #b428657c;
    --cinza: #4943438d;
    --cinza-claro: #aca1a1;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
